<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.xerela.provider.devices.inventoryChange">
      <observer class="org.xerela.provider.credentials.InventoryChangeListener"/>
   </extension>
   <extension
         point="org.xerela.zap.security.SecurityPermissions">
      <permission
            display="%org.xerela.credentials.administer"
            id="org.xerela.credentials.administer">
      </permission>
   </extension>

</plugin>
